* {
  box-sizing: border-box;
}

hgroup {
  margin-top: 16px;
}

.table {
  max-width: 100%;
  overflow: auto;
}

.copy {
  display: flex;
}

.copy input {
  flex-grow: 1;
}

.copy button {
  width: auto;
  margin-left: 16px;
}

@media screen and (max-width: 480px) {
  .table th {
    font-size: 0.8em;
  }
}